.pill {
    border: 1px solid #e2e8ea;
    padding: 10px 20px;
    border-radius: 21px;
    color:#596261;
    font-weight: 400;
    font-size: 14px;
    width: fit-content;
    flex: 0 0 auto;
    margin: 0px 6px 0px 6px;
}